html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#benvingutDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pressupostButton {
    cursor: pointer;
}